In [34]:
import pandas as pd
import numpy as np

In [35]:
df=pd.read_csv('train.csv')

In [36]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
for i in df.columns:
    print('No. of missing columns in '+i
          +' is ',df[i].isna().sum())

No. of missing columns in PassengerId is  0
No. of missing columns in Survived is  0
No. of missing columns in Pclass is  0
No. of missing columns in Name is  0
No. of missing columns in Sex is  0
No. of missing columns in Age is  177
No. of missing columns in SibSp is  0
No. of missing columns in Parch is  0
No. of missing columns in Ticket is  0
No. of missing columns in Fare is  0
No. of missing columns in Cabin is  687
No. of missing columns in Embarked is  2

In [38]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [40]:
df['Age'] = df['Age'].fillna(0)

In [41]:
l=[]
s=0
for i in range(len(df)):
    if (df['Survived'][i]==1):
        s=s+1
        l.append(df['Age'][i])
        
print(s)

342

In [42]:
len(df)

891

In [46]:
a=sum(l)/len(l)

In [48]:
print('average age of all the people who survived is '+ str(int(a)))

average age of all the people who survived is 24